<html>
<head>
<style>
body {
/*    width: 100px;
    height: 100px;*/
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s ; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s ;
}

@-webkit-keyframes example {

    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}
</style>
</head>
<body>
<h1>
<marquee>BRING BACK THE HOLOCAUST</marquee>
</h1>
</body>
</html>
