
<div class="spinning">
  <h1><%= link_to 'WELCOME', third_path %></h1>
</div>

<div class="spinning">
<div class="spinning">
  <center>
  <button></button>
  </center>
</div>
</div>

<div class="btn btn-info btn-large"><%= link_to 'HURRY', second_path %></div>

<div align="center" style="margin-top:70px;">
<div class="container">
    <button class="pulse-button"></button>
</div>
</div>


<div align="center" style=" padding:5px; color:#ffffff; font-weight:300; font-size:30px; font-family:'Roboto';padding-top:20px;">PURE CSS <font style="font-weight:400;">PULSE BUTTON</font></div>
<a href="http://www.wifeo.com/code" style="text-decoration:none;" target="parent"><div align="center" style="  color:#ffffff; font-weight:300; font-size:20px; font-family:'Roboto';">www.wifeo.com/code</div></a>


<div class="game">
    <form>
        <div class="board"><svg class="board__line" style="--x: 1; --y: 0;"><path d="M 5 5 L 295 5" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="300" stroke-dashoffset="300"></path></svg><svg class="board__line" style="--x: 2; --y: 0;"><path d="M 5 5 L 295 5" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="300" stroke-dashoffset="300"></path></svg>
            <svg
                class="board__line" style="--x: 0; --y: 1;">
                <path d="M 5 5 L 295 5" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="300" stroke-dashoffset="300"></path>
                </svg><svg class="board__line" style="--x: 0; --y: 2;"><path d="M 5 5 L 295 5" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="300" stroke-dashoffset="300"></path></svg><input type="checkbox" id="x--0" style="--col: 0; --row: 0;"
                /><span style="--col: 0; --row: 0;"><svg class="x"><path class="cross" d="M 20 20 L 80 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path><path class="cross" d="M 80 20 L 20 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path></svg></span><input
                    type="checkbox" id="o--0" style="--col: 0; --row: 0;" /><span style="--col: 0; --row: 0;"><svg class="o"><circle class="naught" cx="50" cy="50" r="30" fill="none" stroke-width="10" stroke-dasharray="200" stroke-dashoffset="200" stroke-linecap="round"></circle></svg></span><input
                    type="checkbox" id="x--1" style="--col: 1; --row: 0;" /><span style="--col: 1; --row: 0;"><svg class="x"><path class="cross" d="M 20 20 L 80 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path><path class="cross" d="M 80 20 L 20 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path></svg></span><input
                    type="checkbox" id="o--1" style="--col: 1; --row: 0;" /><span style="--col: 1; --row: 0;"><svg class="o"><circle class="naught" cx="50" cy="50" r="30" fill="none" stroke-width="10" stroke-dasharray="200" stroke-dashoffset="200" stroke-linecap="round"></circle></svg></span><input
                    type="checkbox" id="x--2" style="--col: 2; --row: 0;" /><span style="--col: 2; --row: 0;"><svg class="x"><path class="cross" d="M 20 20 L 80 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path><path class="cross" d="M 80 20 L 20 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path></svg></span><input
                    type="checkbox" id="o--2" style="--col: 2; --row: 0;" /><span style="--col: 2; --row: 0;"><svg class="o"><circle class="naught" cx="50" cy="50" r="30" fill="none" stroke-width="10" stroke-dasharray="200" stroke-dashoffset="200" stroke-linecap="round"></circle></svg></span><input
                    type="checkbox" id="x--3" style="--col: 0; --row: 1;" /><span style="--col: 0; --row: 1;"><svg class="x"><path class="cross" d="M 20 20 L 80 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path><path class="cross" d="M 80 20 L 20 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path></svg></span><input
                    type="checkbox" id="o--3" style="--col: 0; --row: 1;" /><span style="--col: 0; --row: 1;"><svg class="o"><circle class="naught" cx="50" cy="50" r="30" fill="none" stroke-width="10" stroke-dasharray="200" stroke-dashoffset="200" stroke-linecap="round"></circle></svg></span><input
                    type="checkbox" id="x--4" style="--col: 1; --row: 1;" /><span style="--col: 1; --row: 1;"><svg class="x"><path class="cross" d="M 20 20 L 80 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path><path class="cross" d="M 80 20 L 20 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path></svg></span><input
                    type="checkbox" id="o--4" style="--col: 1; --row: 1;" /><span style="--col: 1; --row: 1;"><svg class="o"><circle class="naught" cx="50" cy="50" r="30" fill="none" stroke-width="10" stroke-dasharray="200" stroke-dashoffset="200" stroke-linecap="round"></circle></svg></span><input
                    type="checkbox" id="x--5" style="--col: 2; --row: 1;" /><span style="--col: 2; --row: 1;"><svg class="x"><path class="cross" d="M 20 20 L 80 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path><path class="cross" d="M 80 20 L 20 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path></svg></span><input
                    type="checkbox" id="o--5" style="--col: 2; --row: 1;" /><span style="--col: 2; --row: 1;"><svg class="o"><circle class="naught" cx="50" cy="50" r="30" fill="none" stroke-width="10" stroke-dasharray="200" stroke-dashoffset="200" stroke-linecap="round"></circle></svg></span><input
                    type="checkbox" id="x--6" style="--col: 0; --row: 2;" /><span style="--col: 0; --row: 2;"><svg class="x"><path class="cross" d="M 20 20 L 80 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path><path class="cross" d="M 80 20 L 20 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path></svg></span><input
                    type="checkbox" id="o--6" style="--col: 0; --row: 2;" /><span style="--col: 0; --row: 2;"><svg class="o"><circle class="naught" cx="50" cy="50" r="30" fill="none" stroke-width="10" stroke-dasharray="200" stroke-dashoffset="200" stroke-linecap="round"></circle></svg></span><input
                    type="checkbox" id="x--7" style="--col: 1; --row: 2;" /><span style="--col: 1; --row: 2;"><svg class="x"><path class="cross" d="M 20 20 L 80 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path><path class="cross" d="M 80 20 L 20 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path></svg></span><input
                    type="checkbox" id="o--7" style="--col: 1; --row: 2;" /><span style="--col: 1; --row: 2;"><svg class="o"><circle class="naught" cx="50" cy="50" r="30" fill="none" stroke-width="10" stroke-dasharray="200" stroke-dashoffset="200" stroke-linecap="round"></circle></svg></span><input
                    type="checkbox" id="x--8" style="--col: 2; --row: 2;" /><span style="--col: 2; --row: 2;"><svg class="x"><path class="cross" d="M 20 20 L 80 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path><path class="cross" d="M 80 20 L 20 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path></svg></span><input
                    type="checkbox" id="o--8" style="--col: 2; --row: 2;" /><span style="--col: 2; --row: 2;"><svg class="o"><circle class="naught" cx="50" cy="50" r="30" fill="none" stroke-width="10" stroke-dasharray="200" stroke-dashoffset="200" stroke-linecap="round"></circle></svg></span>
                <label
                    for="x--0" style="--col: 0; --row: 0;"></label><label for="o--0" style="--col: 0; --row: 0;"></label><label for="x--1" style="--col: 1; --row: 0;"></label><label for="o--1" style="--col: 1; --row: 0;"></label><label for="x--2" style="--col: 2; --row: 0;"></label><label for="o--2"
                        style="--col: 2; --row: 0;"></label><label for="x--3" style="--col: 0; --row: 1;"></label><label for="o--3" style="--col: 0; --row: 1;"></label><label for="x--4" style="--col: 1; --row: 1;"></label><label for="o--4" style="--col: 1; --row: 1;"></label>
                    <label
                        for="x--5" style="--col: 2; --row: 1;"></label><label for="o--5" style="--col: 2; --row: 1;"></label><label for="x--6" style="--col: 0; --row: 2;"></label><label for="o--6" style="--col: 0; --row: 2;"></label><label for="x--7" style="--col: 1; --row: 2;"></label>
                        <label
                            for="o--7" style="--col: 1; --row: 2;"></label><label for="x--8" style="--col: 2; --row: 2;"></label><label for="o--8" style="--col: 2; --row: 2;"></label>
                            <div class="board__result board__result--x result">
                                <dl class="result__content"><dt class="result__title">Winner!</dt>
                                    <dd class="result__details"><svg class="x result__icon"><path class="cross" d="M 20 20 L 80 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path><path class="cross" d="M 80 20 L 20 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100"></path></svg></dd>
                                    <button
                                        class="result__reset" type="reset">Play again</button>
                                </dl>
                                <div class="result__firework-icon" style="--y: 471; --r: 270;">🎉</div>
                                <div class="result__firework-icon" style="--y: 203; --r: 240;">🎉</div>
                                <div class="result__firework-icon" style="--y: 452; --r: 324;">🎉</div>
                                <div class="result__firework-icon" style="--y: 416; --r: 30;">🎉</div>
                                <div class="result__firework-icon" style="--y: 466; --r: 197;">🎉</div>
                                <div class="result__firework-icon" style="--y: 342; --r: 294;">🎉</div>
                                <div class="result__firework-icon" style="--y: 420; --r: 211;">🎉</div>
                                <div class="result__firework-icon" style="--y: 330; --r: 75;">🎉</div>
                                <div class="result__firework-icon" style="--y: 420; --r: 266;">🎉</div>
                                <div class="result__firework-icon" style="--y: 207; --r: 160;">🎉</div>
                                <div class="result__firework-icon" style="--y: 241; --r: 278;">🎉</div>
                                <div class="result__firework-icon" style="--y: 312; --r: 263;">🎉</div>
                                <div class="result__firework-icon" style="--y: 459; --r: 254;">🎉</div>
                                <div class="result__firework-icon" style="--y: 494; --r: 77;">🎉</div>
                                <div class="result__firework-icon" style="--y: 362; --r: 167;">🎉</div>
                                <div class="result__firework-icon" style="--y: 213; --r: 143;">🎉</div>
                                <div class="result__firework-icon" style="--y: 361; --r: 177;">🎉</div>
                                <div class="result__firework-icon" style="--y: 316; --r: 334;">🎉</div>
                                <div class="result__firework-icon" style="--y: 204; --r: 102;">🎉</div>
                                <div class="result__firework-icon" style="--y: 482; --r: 36;">🎉</div>
                                <div class="result__firework-icon" style="--y: 421; --r: 295;">🎉</div>
                                <div class="result__firework-icon" style="--y: 337; --r: 7;">🎉</div>
                                <div class="result__firework-icon" style="--y: 215; --r: 332;">🎉</div>
                                <div class="result__firework-icon" style="--y: 400; --r: 73;">🎉</div>
                                <div class="result__firework-icon" style="--y: 344; --r: 337;">🎉</div>
                                <div class="result__firework-icon" style="--y: 211; --r: 27;">🎉</div>
                                <div class="result__firework-icon" style="--y: 230; --r: 131;">🎉</div>
                                <div class="result__firework-icon" style="--y: 228; --r: 159;">🎉</div>
                                <div class="result__firework-icon" style="--y: 385; --r: 331;">🎉</div>
                                <div class="result__firework-icon" style="--y: 343; --r: 188;">🎉</div>
                            </div>
                            <div class="board__result board__result--o result">
                                <dl class="result__content"><dt class="result__title">Winner!</dt>
                                    <dd class="result__details"><svg class="o result__icon"><circle class="naught" cx="50" cy="50" r="30" fill="none" stroke-width="10" stroke-dasharray="200" stroke-dashoffset="200" stroke-linecap="round"></circle></svg></dd><button class="result__reset"
                                        type="reset">Play again</button></dl>
                                <div class="result__firework-icon" style="--y: 460; --r: 61;">🎉</div>
                                <div class="result__firework-icon" style="--y: 277; --r: 153;">🎉</div>
                                <div class="result__firework-icon" style="--y: 373; --r: 12;">🎉</div>
                                <div class="result__firework-icon" style="--y: 490; --r: 296;">🎉</div>
                                <div class="result__firework-icon" style="--y: 423; --r: 147;">🎉</div>
                                <div class="result__firework-icon" style="--y: 221; --r: 114;">🎉</div>
                                <div class="result__firework-icon" style="--y: 484; --r: 56;">🎉</div>
                                <div class="result__firework-icon" style="--y: 264; --r: 265;">🎉</div>
                                <div class="result__firework-icon" style="--y: 303; --r: 141;">🎉</div>
                                <div class="result__firework-icon" style="--y: 439; --r: 293;">🎉</div>
                                <div class="result__firework-icon" style="--y: 498; --r: 2;">🎉</div>
                                <div class="result__firework-icon" style="--y: 252; --r: 50;">🎉</div>
                                <div class="result__firework-icon" style="--y: 421; --r: 84;">🎉</div>
                                <div class="result__firework-icon" style="--y: 372; --r: 261;">🎉</div>
                                <div class="result__firework-icon" style="--y: 231; --r: 248;">🎉</div>
                                <div class="result__firework-icon" style="--y: 446; --r: 38;">🎉</div>
                                <div class="result__firework-icon" style="--y: 421; --r: 298;">🎉</div>
                                <div class="result__firework-icon" style="--y: 454; --r: 300;">🎉</div>
                                <div class="result__firework-icon" style="--y: 479; --r: 164;">🎉</div>
                                <div class="result__firework-icon" style="--y: 383; --r: 203;">🎉</div>
                                <div class="result__firework-icon" style="--y: 420; --r: 316;">🎉</div>
                                <div class="result__firework-icon" style="--y: 436; --r: 109;">🎉</div>
                                <div class="result__firework-icon" style="--y: 360; --r: 80;">🎉</div>
                                <div class="result__firework-icon" style="--y: 200; --r: 55;">🎉</div>
                                <div class="result__firework-icon" style="--y: 290; --r: 185;">🎉</div>
                                <div class="result__firework-icon" style="--y: 398; --r: 284;">🎉</div>
                                <div class="result__firework-icon" style="--y: 367; --r: 207;">🎉</div>
                                <div class="result__firework-icon" style="--y: 232; --r: 182;">🎉</div>
                                <div class="result__firework-icon" style="--y: 200; --r: 252;">🎉</div>
                                <div class="result__firework-icon" style="--y: 376; --r: 3;">🎉</div>
                            </div>
                            <div class="board__result board__result--draw">
                                <dl class="result__content"><dt class="result__title">Draw!</dt>
                                    <dd class="result__details">
                                        <div class="result__emoji">😭</div>
                                    </dd><button class="result__reset" type="reset">Play again</button></dl>
                            </div>
        </div>
    </form>
</div>
