
<body style="background: url('<%= cl_image_path('50543_1_miscellaneous_digital_art_psychedelic_trippy_colorful_psychedelic_love') %>')">
  <div class="btn btn-danger spinning">
    <h1><%= link_to 'Book this now!', fourth_path %></h1>
  </div>
</body>

